#info {
    text-align: center;
    font: 14px "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    padding: 20px;
}

#backgroundFileInput {
    margin: auto;
}

#main {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    border: 1px solid #dadada;
    position: relative;
}

#gallery {
    overflow-x: auto;
    overflow-y: hidden;
    width: 800px;
    height: 90px;
    border: 1px solid #dadada;
    border-top: 0;
    margin: auto;
}

#gallery .images {
    padding: 11px;
    height: 70px;
    overflow: auto;
    width: 1300px;

}

#gallery .images ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#gallery .images li {
    list-style: none;
    padding: 0;
    margin: 0 10px 0 0;
    display: inline;
}

#gallery .images li img {
    width: 100px;
    height: 70px;
}

.cb {
    display: block;
    clear: both;
    width: 100%;
}

#navigation {
    position: absolute;
    top: 10px;
    right: 10px;
}

#aside {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background: #000;
    height: 100%;
}

#aside a {
    color: #fff;
}

.show-layers-btn {
    top: 0;
    right: 30px;
    padding: 10px;

}

.hidden {
    display: none;
}

.toolbar {
    padding: 10px;
}