a {
    color: #122b40;
}

#info {
    text-align: center;
    font: 12px "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    padding: 10px;
}

#backgroundFileInput {
    margin: auto;
}

#main {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    border: 1px solid #dadada;
    position: relative;
}

#gallery {
    width: 800px;
    border: 0;
    margin: auto;
    margin-top: 60px;
}

#gallery .slick-frame {
    padding: 10px;
}

#gallery .slick-image {
    margin: 10px;
}

#gallery .tab-pane {
    width: 800px;
}

#gallery .nav > li > a {
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
}

#gallery .gallery-image {
    cursor: pointer;
}

#gallery .gallery-image.active {
    outline: 5px solid #dadada;
}

.cb {
    display: block;
    clear: both;
    width: 100%;
}

#navigation {
    position: absolute;
    top: 10px;
    right: 10px;
}

#aside {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background: #000;
    height: 100%;
}

#aside a {
    color: #fff;
}

.show-layers-btn {
    top: 0;
    right: 30px;
    padding: 10px;

}

.hidden {
    display: none;
}

.toolbar {
    padding: 10px;
}

.no-padding {
    padding: 0;
}

#backgroundTools .dropdown-menu {
    padding: 20px;
}

.repeatLabel {
    font-weight: normal;
}